# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/thread_pool/.vs/thread_pool/v16
/thread_pool/thread_pool.vcxproj.user
/thread_pool/thread_pool.vcxproj.filters
/thread_pool/thread_pool.vcxproj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/C_Study/v16/.suo
/thread_pool/Debug
/thread_pool/x64/Debug
/NetWork/.vs/NetWork/v16
/NetWork/NetWork.vcxproj
/NetWork/NetWork.vcxproj.user
/NetWork/NetWork.vcxproj.filters
/NetWork/NetWork.sln
